<div class="row">
    <div class="col s12">
        <h3>Books</h3>
        <!-- Filter -->
        <input type="text" ng-model="search" class="form-control col s3" placeholder="Search books..." />
    </div>
    <div ng-init="getAll()">
        <div class="col s12" ng-repeat="d in books | filter:search">
            <h4 class="header">{{ d.name }}</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img height="120" width="40" src="{{ d.img }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ d.description }}</p>
                    </div>
                    <div class="card-action">
                        <a style="cursor: pointer" ng-click="readOne(d.id)">Edit</a>
                        <a style="cursor: pointer">Borrow</a>
                        <a style="cursor: pointer" ng-click="deleteBook(d.id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-book-form" class="modal">
            <div class="modal-content">
                <h4 id="modal-book-title">Create Book</h4>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="Book name" ng-model="name" type="text" class="validate" id="form-name" />
                        <label for="name">Name</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">face</i>
                        <input placeholder="Author name" ng-model="author" type="text" class="validate" id="form-author" />
                        <label for="author">Author</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">style</i>
                        <input placeholder="Category name" ng-model="category" type="text" class="validate" id="form-category" />
                        <label for="category">Category</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">format_quote</i>
                        <textarea placeholder="Some description" ng-model="description" type="text" class="validate materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btn-create-book" class="waves-effect waves-light btn-flat" ng-click="createBook()">Create</a>
                <a id="btn-update-book" class="waves-effect waves-light btn-flat" ng-click="updateBook()">Update</a>
                <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
            </div>
        </div>
        <!-- floating button -->
        <div class="fixed-action-btn">
            <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="Add new book" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
        </div>
    </div>
</div>